:root {
  --grad-bg: linear-gradient(0deg, rgba(179,97,252,0.8646052170868348) 0%, rgba(115,93,251,0.8590029761904762) 100%);

}

html { 
  background: url(../assets/images/port-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;

}

body {
  font-family: Cabin, sans-serif;
  color: white;
}

p {
  text-align: justify;
}

/* BEGIN UTILITY CLASSES */

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-margin {
  margin-left: auto;
}

/* BEGIN ELEMENT CLASSES */

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}

h2{
  text-align: center;
  font-size: 1.6rem;
  margin: 10px;
}

a {
  font-size: 1.2rem;
  color: white;
  margin: 10px;
}

p {
  margin: 10px;
  line-height: 1.3;
}

nav {
  margin: 60px;
  
}

/* BEGIN HERO STYLES */

.hero-img {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
  justify-content: center;
}


/* BEGIN ABOUT STYLE */

.about {
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.headshot {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
border-radius: 110px;
width: 500px;
}
.about-text-cont {
display: flex;
flex-direction: column;
align-items: center;
padding: 50px ;
background: var(--grad-bg); 
border:2px solid #270748;
border-radius: 20px; 
flex: 1;
text-align: center;
margin: 40px;
}

.about-copy {
 text-align: justify;
}



/* BEGIN PROJECT STYLE */

.project-img {
  border-radius: 20px;
}

.projects {
  padding: 20px;
  margin-bottom: 80px;
}

article {
  padding: 10px;
  background: var(--grad-bg); 
  border:2px solid #270748;
  border-radius: 20px;
  flex: 1;
  text-align: center;
}

.projects-title {
  text-align: center;
  padding: 20px;
}

.article-cont {
  display: flex;
  gap: 1rem;
}

article img {
  width: 100%;
}

/* BEGIN EXPERTISE STYLING */

.expertise {
  margin-bottom: 120px;
}

.software-img {
  display: flex;
  justify-content: center;
  background: var(--grad-bg); 
  margin: 20px 80px;
  border-radius: 40px;
}

.software-img img {
  padding: 10px 20px;
  width: 100%;
}

.expertise-title {
  text-align: center;
  padding: 20px;
}

/* BEGIN CONTACT ME STYLE */

.contact {
  width: 80%;
  margin: 0 auto 40px auto;
  border-radius: 700px;
}


.contact-title {
  text-align: center;
  padding: 20px;
}

.form-container {
  padding: 40px 100px;
  background: var(--grad-bg);
  border-radius: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  margin: 5px;
  padding: 15px;
  width: 65%;
  border-radius: 10px;
  border: none;
  background-color: rgb(190, 212, 255);
}

form button {
  margin: 10px;
  padding: 10px;
  width: 30%;
  background-color: rgb(62, 136, 254);
  border-radius: 20px;
  border: none;
  color: white;
}

.textarea {
  height: 40px;
  border-radius: 10px;
  margin-bottom: 25px;
}

/* BEGIN FOOTER STYLE */

footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(116, 62, 254);
  color: white;
}

/* BEGIN RESPONSIVE STYLES */


/* On screens that are 830px or less, set the background color to blue */
@media screen and (max-width: 830px) {

  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .projects {
    padding: 20px;
    margin-bottom: 30px;
  }

  .projects-title {
    text-align: center;
   
  }
  
  .article-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 30px;
    margin-top: 10px;
  }

  article{
    padding: 30px;
    margin: 30px;
  } 

  article h2 {
    margin-top: 2px;
  }

  .contact {
    width: 90%;
    margin: 0 auto 20px auto;
  }
  
  
  .contact-title {
    text-align: center;
    padding: 20px;
  }
  
  .form-container {
    padding: 40px 60px;
    background: var(--grad-bg);
    border-radius: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form input {
    margin: 5px;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: rgb(190, 212, 255);
  }
  
  form button {
    margin: 10px;
    padding: 20px;
    width: 40%;
    background-color: rgb(62, 136, 254);
    border-radius: 20px;
    border: none;
    color: white;
  }
  
  .textarea {
    height: 40px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  
  footer {
    margin-top: 50px;
  }
  
}

/* On screens that are 500px or less, set the background color to olive */
@media screen and (max-width: 500px) {
  
  h1 {
    text-align: center;
    font-size: 3.0rem;
  }

  h2 {
    text-align: center;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-links li {
    font-size: 0.5rem;
    margin: 5px;
  }

  nav {
    margin: 10px;
    margin-bottom: 20px;
  }

  .about-text-cont {
   
      padding: 20px;
      margin: 20px;
      
  }

  .projects {
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .article-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 20px;
    margin-top: 10px;
  }

  article{
    padding: 15px;
    margin: 15px;
  } 

  .projects h2 {
    margin-top: 15px;
  }

  .expertise {
    margin-bottom: 85px;
  }
  
  .software-img {
    display: flex;
    justify-content: center;
    background: var(--grad-bg); 
    margin: 20px 10px;
    border-radius: 40px;
  }
  
  .software-img img {
    padding: 10px 10px;
    width: 100%;
  }
  
  .expertise-title {
    text-align: center;
    padding: 20px;
  }

  .contact {
    width: 90%;
    margin: 0 auto 20px auto;
  }
  
  
  .contact-title {
    text-align: center;
    padding: 20px;
  }
  
  .form-container {
    padding: 20px 30px;
    background: var(--grad-bg);
    border-radius: 30px;
  }
  
 
  form input {
    margin: 10px;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
  }
  
  form button {
    margin: 10px;
    padding: 20px;
    width: 60%;
  }
  
  .textarea {
    height: 40px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  
  
}